[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=convolution
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=convolution
Comment=image filtering plugin
